.about-section {
    >.uk-background-cover {
        display: block;
        min-height: 600px;
    }
}

.about-banner {
    span {
        display: block;
    }
}

.about-content {
    padding-right: 257px;

    .uk-background-cover {
        max-width: 257px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
    }
}

.about-text {
    background-color: $blue-mid;
    padding: 50px 88px 50px 50px;

    blockquote {
        padding-top: 30px;

        h2 {
            color: $black;
        }
    }

    svg {
        width: 95px;
        height: 95px;
    }
}
