.druck-top {
    padding: 75px 0 89px;

    @media (min-width: $breakpointMobile) {
        text-align: center;
    }

    @media (min-width: $breakpointTabletPortrait) {
        padding: 75px 0 82px;
    }

    @media (min-width: $breakpointMedium) {
        padding: 95px 0;
    }

    @media (min-width: $breakpointLarge) {
        padding: 90px 0 100px;
    }
}

.druck-title,
.druck-text {
    max-width: 851px;
    width: 100%;
}

.druck-title h2 {
    margin-bottom: 30px;
    color: $white;

    @media (min-width: $breakpointMobile) {
        margin-bottom: 45px;
    }
}

.druck-text {
    p {
        color: $white;
    }

    .uk-button {
        margin-top: 25px;

        @include hover {
            background-color: $white;

            svg {
                color: $blue;
                fill: $blue;
            }
        }
    }
}

.druck-middle {
    padding: 165px 0 50px;

    >svg {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 5px;
        color: $blue-light;
        fill: $blue-light;
        width: 277px;
        height: auto;
    }

    h2 {
        margin-bottom: 85px;
        max-width: 415px;
    }
}

.druck-bottom {
    padding: 48px 0 125px;

    h2 {
        margin-bottom: 30px;
        line-height: 60px;
    }

    p {
        margin-top: 15px;
        font-size: 16px;
        font-weight: $light;
    }

    .uk-card-body {
        padding-top: 22px;
    }

    .uk-card-media-top {
        &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            content: '';
            border-bottom: 19px solid $blue;
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}
