.druck-top {
    padding: 90px 0 100px;
}

.druck-title,
.druck-text {
    max-width: 851px;
    width: 100%;
}

.druck-title h2 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 45px;
}

.druck-text {
    p {
        color: $white;
    }

    .uk-button {
        margin-top: 25px;
    }
}

.druck-middle {
    padding: 165px 0 50px;

    .uk-grid {
        margin-bottom: 65px;
    }

    h3 {
        color: $blue;
    }

    ul {
        margin-top: 15px;
    }

    li {
        color: $black;

        &:not(.alt) {
            padding-left: 22px;
        }

        svg {
            width: 13px;
            height: 13px;
            top: 7px;
        }

        &.alt {
            display: inline-flex;
            padding: 10px 15px 10px 22px;
            background-color: $gray-file;

            span {
                font-size: 16px;
                display: block;
                line-height: 20px;
            }
        }
    }
}

.druck-bottom {
    padding: 48px 0 285px;

    h2 {
        margin-bottom: 30px;
    }

    p {
        margin-top: 15px;
        font-size: 16px;
        font-weight: $light;
    }

    .uk-card-body {
        padding-top: 22px;
    }

    .uk-card-media-top {
        min-height: 415px;
        border-bottom: 19px solid $blue;
    }
}
