.produkte-section {
    border-top: 37px solid $yellow;
}

.produkte-intro {
    padding: 230px 0 25px;

    .uk-svg,
    .uk-svg:not(.uk-preserve) [fill*='#']:not(.uk-preserve) {
        width: 903px;
        height: 500px;
        color: $gray-light;
        fill: $gray-light;
        top: -60px;
    }

    h2 {
        line-height: 60px;
        color: $black;
    }
}

.produkte-intro-text {
    max-width: 1064px;
}

.produkte-progress {
    padding-bottom: 100px;
}

.produkte-bottom {
    padding-bottom: 170px;

    .uk-card-body {
        padding-top: 15px;
    }

    h3 {
        color: $black;
    }

    .uk-text-light b {
        font-weight: $bold;
    }

    svg {
        width: 95px;
        height: 95px;
        margin-right: 25px;
    }
}
