//----------  button
//------------------------------------------------------------------------------
a,
button {
	appearance: none;
	outline: none;
	transition: $timing ease-in-out;
}

a {
	@include hover {
		text-decoration: none;
	}
}

button,
input[type='button'],
input[type='submit'] {
	background: none;
	border: 0;
	cursor: pointer;
	outline: none;
	padding: 0;
}

.uk-button {
	background-color: $blue;
	align-items: center;
	border: 0;
	color: $white;
	display: inline-flex;
	font-size: 18px;
	line-height: 22px;
	padding: 10px 32px 11px 20px;
	font-weight: $bold;
	text-align: left;
	text-transform: none;
	transition: $speed $timing;

	svg {
		width: 16px;
		height: 16px;
		margin-right: 15px;
		color: $white;
		fill: $white;
		transition: $speed $timing;
		position: relative;
		left: 0;
	}

	@include hover {
		background-color: $blue;
		color: $black;

		svg {
			left: 5px;
		}
	}
}

.uk-button-secondary {
	background-color: $white;
	color: $gray;

	svg {
		color: $blue;
		fill: $blue;
	}

	@include hover {
		background-color: $blue;
		color: $black;

		svg {
			color: $white;
			fill: $white;
		}
	}
}

.uk-button-default {
	background-color: $pink;

	&.yellow {
		background-color: $yellow;
		color: $black;

		svg {
			color: $black;
			fill: $black;
		}
	}

	@include hover {
		background-color: $white;
		color: $pink;

		svg {
			color: $pink;
			fill: $pink;
		}

		&.yellow {
			background-color: $gray-produkte;
			color: $yellow;

			svg {
				color: $yellow;
				fill: $yellow;
			}
		}
	}
}
